<script>
    $('.dropdown')
        .dropdown({
            transition: 'drop'
        });
</script>
<div style="margin-left: 50px ">
<br>
<div class="ui message" style="width: 150px">
  <div class="header">
    Upload Status
  </div>
  <p>{{Message}}</p>
</div>
<br>
<div>

  <select  class="ui search dropdown" ng-model="selectedtype" ng-options="x.type for x in qtypes" ng-change="changeQtype(selectedtype)">
    <option value="">Select Question Type</option>
  </select>

</div>
<br>

<form class="ui form">
  <div class="field">
    <label>Question Text Turkish</label>
    <input type="text" name="first-name" ng-model="question_text" placeholder="Question Text">
  </div>
  <div class="field">
    <label>Question Text English</label>
    <input type="text" name="last-name"  ng-model="question_text_en" placeholder="Question Text">
  </div>
  <br>
  <div class="field">
    <label>Choice Text Turkish</label>
    <input  ng-class="choiceInputClass"  type="text" name="last-name" ng-model="choiceTr" placeholder="Choice Text">
  </div>
  <div class="field">
    <label>Choice Text English</label>
    <input  ng-class="choiceInputClass"   type="text" name="last-name" ng-model="choiceEng" placeholder="Choice Text">
  </div>
  <button ng-class="choiceButtonClass"  type="submit" ng-click="addChoice(choiceEng , choiceTr)">Add Choice</button>
  <button ng-class="choiceButtonClass"  type="submit" ng-click="removeLastChoice()">Remove Last Choice</button>
  <div class="ui list" >
    <div ng-repeat="c in choices" class="item">
      Turkish: {{c.choice_text}} - English: {{c.choice_text_en}}
    </div>
  </div>
  <br>

  <button class="ui button" ng-click="postQuestion(question_text, question_text_en)" type="submit">Submit</button>

</form>
</div>