<form style="width: 150px" class="ui form">
    <div class="field">
        <label>Question ID</label>
        <input type="number" ng-model="q_id"  name="Question ID" placeholder="Question ID">
    </div>
    <div class="field">
        <label>Choice ID</label>
        <input type="number" ng-model="c_id" name="Choice ID" value="0" placeholder="Choice ID">
    </div>
    <button class="ui  button" type="submit" ng-click="getResult(q_id , c_id)">Get Result</button>
</form>
<br>
<table class="ui celled table">
    <thead>
    <tr>
        <th>Question ID</th>
        <th>Question Text Turkish</th>
        <th>Question Text English</th>
        <th>Choice ID</th>
        <th>Choice Text Turkish</th>
        <th>Choice Text English</th>
        <th>Answer Text</th>

    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="x in result">
        <td>{{x.question_id}}</td>
        <td>{{x.question_text}}</td>
        <td>{{x.question_text_en}}</td>
        <td>{{x.choice_id}}</td>
        <td>{{x.choice_text}}</td>
        <td>{{x.choice_text_en}}</td>
        <td>{{x.answer_text}}</td>

    </tr>

    </tbody>

</table>