<table class="ui celled table">
    <thead>
        <tr>
            <th>Question ID</th>
            <th>Question Text Turkish</th>
            <th>Question Text English</th>
            <th>Type</th>
            <th>Choices</th>

        </tr>
    </thead>
    <tbody>
    <tr ng-repeat="x in questions">
        <td>{{x.question_id}}</td>
        <td>{{x.question_text}}</td>
        <td>{{x.question_text_en}}</td>
        <td>{{x.type}}</td>

        <td>
            <ul>
                <li  ng-repeat="c in x.choices">
                   ID: {{c.choice_id}}   Turkish: {{c.choice_text}} - English: {{c.choice_text_en}}
                </li>
            </ul>

        </td>

    </tr>

    </tbody>

</table>